@import url('https://fonts.googleapis.com/css?family=Fascinate');
@import url('https://fonts.googleapis.com/css?family=Condiment');
body {
    background-color: rgb(29, 29, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  

h1#tinyNote {
    font-family: 'Fascinate'; 
    font-size: 55px; 
    text-decoration: underline;
    color:  rgb(221, 221, 221);
    text-align: center;
   
}
h2#author{
    font-family: 'Condiment';
    
}

a{
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(231, 64, 64);
    cursor: auto;
  }
  

a:hover{
    color: rgb(255, 128, 128);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    float: left; 
    padding: 0px, 25px; 
}

li#title {
    margin: 0 auto;
}

div#con {
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    height: 80vh;
}

div#note {
    padding: 20px;
    font-size: 20px;
    color:  rgb(235, 235, 235);
}


.inner-switch:hover
{
    background-color: rgb(218, 218, 218);
    color: rgb(26, 26, 26);
    border: 1px solid rgb(31, 31, 31);
}

.save:hover
{
    background-color: rgb(231, 64, 64);
    color:  rgb(221, 221, 221);
    border: 1px solid rgb(221, 221, 221);
}

.download:hover
{
    background-color: rgb(231, 64, 64);
    color:  rgb(221, 221, 221);
    border: 1px solid rgb(221, 221, 221);
}

.switch {
    
    color:  rgb(221, 221, 221);
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 1.25rem;
    width: 7.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.save{
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 1.25rem;
    width: 7.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.download{
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 1.25rem;
    width: 7.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.light,
body.light {
    background-color: rgb(218, 218, 218);
    color: rgb(26, 26, 26);
}

body.light h1#tinyNote{
    color: rgb(26, 26, 26);
}

body.light .switch{
    color: rgb(26, 26, 26);
}

body.light .inner-switch
{
    border: 1px solid rgb(26, 26, 26);
}


body.light div#con{
    background-color: rgb(255, 255, 255);
}

body.light div#note{
    color:  rgb(26, 26, 26);
}

body.light .inner-switch:hover
{
    background-color: rgb(66, 66, 66);
    color: rgb(218, 218, 218);
}

